.capital {
    background-color: #e2e2e2;
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 15px;
    cursor: pointer;
}

.capital.is-selected {
    background-color: orange;
}

.capital.is-wrong {
    background-color: red;
}

.capital.is-correct {
    background-color: green;
}

.capital__title {
    margin: 0;
}

.capital__country {
    display: inline-block;
}
