.menu.menu--splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #74a4c7;
    text-align: center;
}

.menu .btn {
    border: 0;
    appearance: none;
    padding: 15px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;  font-size: 20px;
    cursor: pointer;
}
