.scoreboard {
    width: 100%;
    text-align: center;
    background-color: #dadada;
    border-bottom: 2px solid black;
    padding: 15px 0;

    .figure {
        font-size: 32px;
        display: block;
        margin: 0;
    }

    .correct .figure {
        color: green;
    }

    .wrong .figure {
        color: red;
    }

    .score {
        display: inline-block;
        width: 50%;
    }
}
